<div swrActions>
  <!-- v9 migration: do not mutate templateRef elements -->
  <button i18n mat-stroked-button (click)="onTranslate()">
    Translate
  </button>
</div>

<mat-accordion>
  <mat-expansion-panel *ngFor="let person of people">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ person.fields.name | wookiee: translateToWookiee }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <swr-person-details [person]="person"></swr-person-details>
    <div class="actions">
      <button
        mat-stroked-button
        i18n
        (click)="openFilmsDialogForPerson(person)"
      >
        Films
      </button>
      <button
        mat-stroked-button
        i18n
        (click)="openHomePlanetDialogForPerson(person)"
      >
        Home Planet
      </button>
    </div>
  </mat-expansion-panel>
</mat-accordion>
